@import "text.css";
@import "reactFlow.css";

* {
    box-sizing: border-box;
}

body {
    background-color: var(--mantine-color-gray-1);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
