.wrapper {
    width: 100%;
    height: calc(100vh - (var(--app-shell-header-offset, 0rem) + 2*var(--mantine-spacing-md)));
    overflow: hidden;
}

.blurActive {
    filter: blur(0);
}

.blurDisabled {
    filter: blur(8px);
}