@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes redPaint {
    0% {
        background-color: var(--mantine-color-red-0);
    }
    50% {
        background-color: var(--mantine-color-red-5);
    }
    100% {
        background-color: var(--mantine-color-red-0);
    }
}

@keyframes greenPaint {
    0% {
        background-color: var(--mantine-color-green-0);
    }
    50% {
        background-color: var(--mantine-color-green-5);
    }
    100% {
        background-color: var(--mantine-color-green-0);
    }
}

@keyframes hide {
    0% {
        scale: 1;
        opacity: 1;
    }
    100% {
        opacity: 0;
        scale: 1.5;
    }
}

.error, .success {
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    cursor: default;
}

.error {
    animation-name: redPaint, shake;
}

.success {
    animation-name: greenPaint, hide;
}

.invisible {
    opacity: 0;
}
