.card {
    position: relative;
    max-width: 650px;
    min-height: 300px;
    transition: .5s ease-in-out;
    perspective: 600px;
    transform-style: preserve-3d;
}

.card_disable {
    transform: rotateX(-180deg);
}

.card_active {
    transform: rotateX(0deg);
}