.node {
    background-color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-sm);
    padding: var(--mantine-spacing-xs);
}

.node .pin {
    position: relative;
    top: 0;
}

.pin.pinRight {
    transform: translateX(50%);
}

.pin.pinLeft {
    transform: translateX(-50%);
}