.formContainer {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #1b80f1;
    transition: color 0.3s ease;
}

.link:hover, .link:focus {
    color: #0056b3;
}
